@import url(/styling/about.css);
@import url(/styling/project.css);
@import url(/styling/contact.css);
@import url(/styling/skills.css);
@import url(/styling/nav.css);

* {
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    background:linear-gradient(to left, #ceb1b1, #977575);
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
}
header img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #fff;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    transition: 0.3s ease;
}

header img:hover {
    transform: scale(1.05);
}
header h2 {
    font-size: 24px;
    margin-bottom: 5px;
}
header p {
    font-size: 16px;
    color: rgb(213, 218, 218);
}
section{
    margin: 40px 20px; 
   
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

    /* RESPONSIVE DESIGN*/
