#about{
    background-color: rgb(209, 203, 195);
    justify-content: center;
    text-align: center;
}
#about h2{
    font-size: 28px;
    margin-bottom: 20px;
    color: rgb(173, 54, 54);
}
#about p{
    font-size: 18px;
    color: rgb(0, 0, 0);
    padding: 10px;
}
