#project {
  padding: 40px;
  text-align: center;
  border: 1px solid black;
  margin: 18px ;
}
#project h2 {
  margin-bottom: 30px;
}

.project-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap; 
}
.project-card {
  background: #adaaaa;
  padding: 15px;
  border-radius: 10px;
  width: 250px;
  transition: transform 0.3s ease;
}
.project-card img {
    display: flex;
  width: 100%;
  border-radius: 8px;
}
.project-card:hover {
  transform: scale(1.05);
}
.project-card h3, .project-card p {
  margin: 10px ;
  
}